* {
  font-family: "Noto Sans JP", sans-serif;
}
h1 {
  color: rgb(82, 82, 82);
}
.lightgray {
  color: rgb(162, 162, 162) !important;
}
.equal-spacing {
  margin: 25px 0;
}
main {
  width: 100%;
}
div.Results {
  margin: 30px 0;
  text-align: left;
}
div.definition {
  padding-left: 40px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline;
}
li.synonym {
  color: blue;
}
div.meaning,
div.photos {
  border: 1px solid rgb(226, 225, 225);
  border-radius: 6px;
  padding: 3vh;
}
div.input-group {
  width: 100% !important;
}
input.form-control#inputBorder {
  border-radius: 0.375rem;
}
input.form-control#inputBorder::placeholder {
  color: rgb(162, 162, 162) !important;
}

img {
  width: 100%;
  border-radius: 6px;
}
